.row{
    display: flex;
    height:400px;
    gap: 10px;
    margin-bottom: 10px;
}
.row >div{
    flex: 1;
}
img{
    width: 100%;
    height: 100%;
}
.square-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
.vertical-img .img1,.img2{
    margin-bottom: 5px;
}
.vertical-img .img1,.img2{
   height: calc( (100% - 5px)/2);
}
@media screen and (max-width:576px) {
    .row{
        flex-direction: column;
        height: auto;
    }
    .square-img{
        grid-template-columns: 1fr;
    }
}