.box{
    background-color: rgb(13, 53, 78);
    /* border: 1px solid black; */
    border-radius: 10px;
}
.color{
    background-color: rgb(118, 150, 182);
}
.container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,250px) 50px 50px;
}
.main-container{
    width: 80%;
    margin: 0px auto;
}
.sidebar{
    grid-row: span 5;
    grid-column: span 1;
}
.footer{
    grid-column: span 3;
    grid-row: span 1;
}
@media screen and (max-width:576px) {
    .container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(6,200px);
    }
    .sidebar,.footer{
        grid-column: span 1;
        grid-row: span 1;
    }
}