.container>*{
    border: 5px solid orange;
    background-color: beige;
    padding: 30px;
}
header{
    grid-area: header;
}
nav{
    grid-area: navbar;
}
main{
    grid-area: main;
}
#sidebar{
    grid-area: sidebar;
}
#advertising{
    grid-area: advertise;
}
footer{
    grid-area: footer;
}
.container{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header header header header header"
    "navbar main main main sidebar"
    "navbar main main main advertise"
    "footer footer footer footer footer";
}