.container>*{
    border: 5px solid orange;
    background-color: beige;
    padding: 30px;
}
header{
    grid-area: header;
}
nav{
    grid-area: navbar;
}
main{
    grid-area: main;
}
#sidebar{
    grid-area: sidebar;
}
#advertising{
    grid-area: advertise;
}
footer{
    grid-area: footer;
}
.container{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header header header header header"
    "navbar main main main sidebar"
    "navbar main main main advertise"
    "footer footer footer footer footer";
}
@media screen and (max-width:576px){
   .container{
     grid-template-areas:
    "header header header"
    "navbar navbar navbar"
    "main main main"
    "sidebar sidebar sidebar"
    "advertise advertise advertise"
     "footer footer footer";
   }
   .container>*{
    padding: 10px;
   }
   nav li{
    list-style: none;
   }
}
@media screen and (min-width:577px) and (max-width:992px) {
   .container{
     grid-template-areas:
    "header header header"
    "navbar navbar navbar"
    "sidebar main main"
    "advertise footer footer";
   }
   .container>*{
    padding: 10px;
   }
   nav{
    display: flex;
    justify-content: space-between;
   }
   nav li{
    list-style: none;
   }
}